<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Simple IDE</title>
    </head>
    <body>
        <h1>
            Question 1:
        </h1>
        <h3>
            Write a program to output a number which is twice the input
            <br>
            <p style="color:Red"> make sure the name of your file is code1.cpp Editor is not working right now<br> Please upload a .cpp file please
        </p>
        </h3>
        <form action="/handleUpload" method="post" enctype="multipart/form-data">
            <textarea rows="10" cols="100" name="code_editor"
>#include<bits/stdc++.h>
using namespace std;
int main()
{
   return 0;
}
            </textarea>
            <br>
            <br>
            <br>
            <br>
            Choose the file: <input type="file" name="code1"/><BR>
                <input type="submit" value="Upload"/>
        </form>
    </body>
</html>
